@using Nop.Web.Controllers.SaljiDalje.Core
@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-change-password-page");
    var returnUrl = Context.Request.Query["returnUrl"];
    
    var customerNavigationModel = new CustomerNavigationModel
    {
        CustomerNavigationItems = new List<CustomerNavigationItemModel>
        {
            new()
            {
                Title = "Password & Security"
            }
        },
        SelectedTab = (int) CustomerNavigationItem.ChangePassword
    };
}

@section left
{

    @await Html.PartialAsync("~/Themes/SaljiDalje/Views/Shared/Components/CustomerNavigation/Default.cshtml", customerNavigationModel)
    @* @await Component.InvokeAsync("CustomerNavigation", new {selectedTabId = CustomerNavigationItem.Info}) *@
}

<div class="col-lg-8 col-md-7 mb-5">
    <h1 class="h2">Password &amp; Security</h1>
    <p class="pt-1">Manage your password settings and secure your account.</p>
    <h2 class="h5">Password</h2>
    <form asp-route="CustomerChangePassword" method="post" autocomplete="off" asp-route-returnurl="@returnUrl">
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
        <div class="row align-items-end mb-2">
            <div class="col-sm-6 mb-2">
                <label class="form-label" asp-for="OldPassword">Current password</label>
                <div class="password-toggle">
                    <input class="form-control" type="password" asp-for="OldPassword" required=""></input>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>

                </div>

            </div>

            <div class="col-sm-6 mb-2">
                <a class="d-inline-block mb-2" asp-route="PasswordRecovery">Forgot password?</a>
            </div>
            <span asp-validation-for="OldPassword"></span>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6 mb-3">
                <label class="form-label" asp-for="NewPassword"></label>
                <div class="password-toggle">
                    <input class="form-control" type="password" asp-for="NewPassword" required=""></input>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                </div>
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div class="col-sm-6 mb-3">
                <label class="form-label" asp-for="ConfirmNewPassword"></label>
                <div class="password-toggle">
                    <input class="form-control" type="password" asp-for="ConfirmNewPassword" required=""></input>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                </div>
                <span asp-validation-for="ConfirmNewPassword"></span>
            </div>
        </div>
        <button class="btn btn-outline-primary" type="submit">@T("Account.ChangePassword.Button")</button>
    </form>
    <div class="border-top pt-4 mt-3"></div>
</div>
@*<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body">
        <form asp-route="CustomerChangePassword" method="post" autocomplete="off" asp-route-returnurl="@returnUrl">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="OldPassword" asp-postfix=":"></label>
                        <input asp-for="OldPassword" />
                        <nop-required />
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="NewPassword" asp-postfix=":"></label>
                        <input asp-for="NewPassword" />
                        <nop-required />
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                        <input asp-for="ConfirmNewPassword" />
                        <nop-required />
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="button-1 change-password-button">@T("Account.ChangePassword.Button")</button>
            </div>
        </form>
    </div>
</div>*@