@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="row  align-items-center">
    <div class="row">
        <div class="col-12 pt-4">
            <h2 class="h3 mb-4 mb-sm-4 text-center">@T("Account.PasswordRecovery")</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
        <p class="mt-4 mt-sm-4 text-center">@T("Account.PasswordRecovery.Tooltip")</p>
        <div class="col-sm-10 col-md-6 mx-auto px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-3">
            <form asp-route="PasswordRecovery" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="mb-4">
                    <label asp-for="Email" class="form-label mb-2" for="signin-email"></label>
                    <input asp-for="Email" class="form-control" type="email" id="signin-email" autofocus="autofocus"/>
                    <span asp-validation-for="Email"></span>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha/>
                }
                <button name="send-email" class="btn btn-primary btn-lg rounded-pill w-100" type="submit">
                    @T("Account.PasswordRecovery.RecoverButton")
                </button>
            </form>
        </div>
    </div>
</div>
@*<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="Email" asp-postfix=":"></label>
                        <input asp-for="Email" class="email" />
                        <nop-required />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
            </div>
            <div class="buttons">
                <button type="submit" name="send-email" class="button-1 password-recovery-button">@T("Account.PasswordRecovery.RecoverButton")</button>
            </div>
        </form>        
    </div>
</div>*@