@using Nop.Web.Models.Catalog
@using SaljiDalje.Core.Controllers
@using Nop.Web.Controllers.SaljiDalje.Core
@using Nop.Web.Models.Customer
@model CostumerAdModel


@{
    Layout = "_ColumnsTwo";
    var customerNavigationModel = new CustomerNavigationModel
    {
        CustomerNavigationItems = new List<CustomerNavigationItemModel>
        {
            new()
            {
                Title = "Customer Ads"
            }
        },
        SelectedTab = (int) CustomerNavigationItem.CustomerAds
    };
}

@section left
{

    @await Html.PartialAsync("~/Themes/SaljiDalje/Views/Shared/Components/CustomerNavigation/Default.cshtml", customerNavigationModel)
    @* @await Component.InvokeAsync("CustomerNavigation", new {selectedTabId = CustomerNavigationItem.Info}) *@
}

<!-- Page content-->
<div class="col-lg-8 col-md-7 mb-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1 class="h2 mb-0">Customer Ads</h1>

        <form method="post" asp-controller="CustomerInfo" asp-action="CustomerAdsActions">
            <input type="checkbox" class="btn-check" name="@nameof(CommmandToExecute)"
                   value="@CommmandToExecute.DELETE_ALL">
            <a id="deleteAll" href="#" class="nav-link fw-bold">
                <i class="fi-trash mt-n1 me-2"></i>Delete all
            </a>
            <button id="submitDelete" type="submit" class="visually-hidden"></button>
        </form>
        <script asp-location="Footer">
             $(document).ready(function() {
                  $("#deleteAll").click(function (){
                      $('input[name="@nameof(CommmandToExecute)"]').attr('checked', true)
                      $('#submitDelete').click();
                      })
                  })
        </script>

    </div>
    <p class="pt-1 mb-4">Here you can see your car offers and edit them easily.</p>
    <!-- Nav tabs-->
    <ul class="nav nav-tabs border-bottom mb-4" role="tablist">
        <li class="nav-item mb-3">
            <a class="nav-link @(Model.CurrentActiveTab == CurrentActiveTab.ACTIVE ? "active" : "")"
               asp-controller="CustomerInfo"
               asp-action="CustomerAds"
               asp-route-CurrentActiveTab="@CurrentActiveTab.ACTIVE"
               role="tab" aria-selected="false">
                <i class="fi-file fs-base me-2"></i>Aktivni (@(Model.CurrentActiveTab == CurrentActiveTab.ACTIVE
                                                                 ? Model.ProductInformation.Count : Model.TotalNumber - Model.ProductInformation.Count))
            </a>
        </li>
        <li class="nav-item mb-3">
            <a class="nav-link @(Model.CurrentActiveTab == CurrentActiveTab.PASSIVE ? "active" : "")"
               asp-controller="CustomerInfo"
               asp-action="CustomerAds"
               asp-route-CurrentActiveTab="@CurrentActiveTab.PASSIVE"
               role="tab" aria-selected="false">
                <i class="fi-file-clean fs-base me-2"></i>Pasivni (@(Model.CurrentActiveTab == CurrentActiveTab.PASSIVE
                                                                       ? Model.ProductInformation.Count : Model.TotalNumber - Model.ProductInformation.Count))
            </a>
        </li>
        @*<li class="nav-item mb-3">
            <a class="nav-link @(Model.CurrentActiveTab == CurrentActiveTab.DELETE ? "active" : "")"
               asp-controller="CustomerInfo"
               asp-action="CustomerAds"
               asp-route-CurrentActiveTab="@CurrentActiveTab.DELETE"
               role="tab" aria-selected="false">
                <i class="fi-trash fs-base me-2"></i>Izbrisani
            </a>
        </li>*@
    </ul>
    <!-- Item-->
    @if (Model.ProductInformation.Count > 0)
    {
        <div class="tab-content">
            <div class="tab-pane fade active show" id="active" role="tabpanel">
                @foreach (var productInformation in Model.ProductInformation)
                {
                    <!-- Item-->
                    <div data-product-id="@productInformation.Product.Id" class="card card-hover card-horizontal border-0 shadow-sm mb-4">
                        <div class="card-img-top position-relative" style="background-image: url(@productInformation.ProductPicture);">
                            <a class="stretched-link" href="@productInformation.Product.Name"></a>
                            <div class="position-absolute start-0 top-0 pt-3 ps-3">
                                <span class="d-table badge bg-success mb-1">Verified</span><span class="d-table badge bg-info">New</span>
                            </div>
                        </div>
                        <div class="card-body position-relative pb-3">
                            <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">For sale</h4>
                            <h3 class="h6 mb-2 fs-base">
                                <a class="nav-link" href="@Url.RouteUrl("Product", new {SeName = productInformation.Product.Name})">@productInformation.Product.Name</a>
                            </h3>
                            @* <p class="mb-2 fs-sm text-muted">@item.AttributeInfo</p> *@
                            <div class="fw-bold mb-3">
                                <i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>@productInformation.Product.Price
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col">
                                    <button
                                        onclick="makeItemAction(@productInformation.Product.Id,
                                        () => {
                                           return `@(Model.CurrentActiveTab == CurrentActiveTab.ACTIVE ? CommmandToExecute.MAKE_PASSIVE : CommmandToExecute.MAKE_ACTIVE)`
                                        })"
                                        type="button"
                                        class="mt-4 btn btn-secondary me-2">
                                        <i class="@(Model.CurrentActiveTab == CurrentActiveTab.ACTIVE ? "fi-file-clean" : "fi-file") me-2"></i>
                                        @(Model.CurrentActiveTab == CurrentActiveTab.ACTIVE ? "Deaktiviraj" : "Aktiviraj")
                                    </button>
                                    <a
                                        asp-controller="MakeNewAd"
                                        asp-action="StepTwo"
                                        type="button"
                                        class="mt-4 btn btn-accent me-2">
                                        <i class="fi-edit me-2"></i>
                                        Editiraj
                                    </a>
                                    <button
                                        onclick="makeItemAction(@productInformation.Product.Id,
                                        () => {
                                           return `@CommmandToExecute.MAKE_DELETE`
                                        })"
                                        type="button"
                                        class="mt-4 btn btn-danger me-2">
                                        <i class="fi-trash me-2"></i>
                                        Izbriši
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <script asp-location="Footer">
        function makeItemAction(itemId, actionToExecute) {
        $.ajax({
              cache: false,
              type: "POST",
              url: "@Url.Action("CustomerAdsActions", "CustomerInfo")",
              data: {
                  "@nameof(CommmandToExecute)": `${actionToExecute()}`,
                  "@nameof(CustomerAdModel.ProductId)": itemId
              },
              success: function (data, textStatus, jqXHR) {
                  $(`div[data-product-id=${itemId}]`).remove();
                  //if ($(".tab-pane")).ch
                  location.reload();
              },
              error: function (jqXHR, textStatus, errorThrown) {
                  
              }
          });
        }
        </script>
    }
    else
    {
        <div class="no-data">
            Nema oglasa!
        </div>
    }
</div>