@using Nop.Web.Models.Catalog
@using SaljiDalje.Core.Controllers
@model Nop.Web.Models.Catalog.TopMenuModel

@{
    Layout = "_ColumnsOne";
    var categoryPerLevel = new Dictionary<int, List<SortByCategoryModel>>();

    var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
    @foreach (var category in rootCategories)
    {
        var categoryLineModel = new SortByCategoryModel
        {
            Category = category
        };

        await SortyByCategory(categoryLineModel, categoryPerLevel);
    }
}

@functions {

    async Task CategoryLine(TopMenuModel.CategoryLineModel lineModel)
    {
        if (lineModel.Category.SubCategories.Count > 0)
        {
            <div id="@lineModel.Category.Id" class="py-1 border-end border-bottom d-flex flex-row justify-content-between align-content-center">
                <div>
                    <a href="#" class="btn btn-sm ms-2">@lineModel.Category.Name</a>
                </div>
                <div>
                    <div class="btn btn-sm ms-2">
                        <i class="fi-chevron-right"></i>
                    </div>
                </div>
                <div class="d-none">
                    @{
                        @foreach (var subCategory in lineModel.Category.SubCategories)
                        {
                            var categoryLineModel = new TopMenuModel.CategoryLineModel
                            {
                                Category = subCategory,
                                Level = lineModel.Level + 1,
                                ResponsiveMobileMenu = lineModel.ResponsiveMobileMenu
                            };
                            await CategoryLine(categoryLineModel);
                        }
                    }
                </div>
            </div>
            <script asp-location="Footer">
                $('#@lineModel.Category.Id').click(function(){
                        var temp = $('#@lineModel.Category.Id')
                        temp.parent().parent().next().children().remove();
                        var siblings = temp.children(".d-none").clone().removeClass("d-none");
                        temp.parent().parent().next().append(siblings)
                })                           
            </script>
        }
        else
        {
            <div class="py-1 border-bottom border-end">
                <a href="#" class="btn btn-sm ms-2">
                    @lineModel.Category.Name
                </a>
            </div>
        }
    }

    async Task SortyByCategory(SortByCategoryModel lineModel, Dictionary<int, List<SortByCategoryModel>> categoryPerLevel)
    {
        if (lineModel.Category.SubCategories.Count > 0)
        {
            AddItemToCollection(lineModel, categoryPerLevel);

            foreach (var subCategory in lineModel.Category.SubCategories)
            {
                var categoryLineModel = new SortByCategoryModel
                {
                    Category = subCategory,
                    Level = lineModel.Level + 1,
                    ResponsiveMobileMenu = lineModel.ResponsiveMobileMenu,
                    ParentCategory = lineModel.Category
                };
                await SortyByCategory(categoryLineModel, categoryPerLevel);
            }
        }
        else
        {
            AddItemToCollection(lineModel, categoryPerLevel);
        }
    }

    private static void AddItemToCollection(SortByCategoryModel lineModel, Dictionary<int, List<SortByCategoryModel>> categoryPerLevel)
    {
        if (categoryPerLevel.ContainsKey(lineModel.Level))
        {
            var itemList = categoryPerLevel[lineModel.Level];
            itemList.Add(lineModel);
        }
        else
        {
            categoryPerLevel.Add(lineModel.Level, new List<SortByCategoryModel> {lineModel});
        }
    }

}

<!-- Page content-->
<div class="row justify-content-center pb-sm-2">
    <div class="col-lg-11 col-xl-10">
        <!-- Breadcrumb-->
            <nav class="mb-3 pt-2 pt-lg-3" aria-label="Breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Add business</li>
                </ol>
            </nav>
        <!-- Page title-->
        <div class="text-center pb-4 mb-3">
            <h1 class="h2 mb-4">Create online resume</h1>
            <p class="mb-4">Save time by uploading a resume to prefill some of the fields below. Please, use PDF format.</p>
            @*<button class="btn btn-primary btn-lg rounded-pill" type="button">
                <i class="fi-upload me-2"></i>Upload existing resume
            </button>*@
        </div>
        <!-- Steps-->
        @{ await Html.RenderPartialAsync("~/Plugins/SaljiDalje.Core/Views/Shared/_Steps.cshtml", StepsModel.STEP_ONE); }
        <!-- Step 1: Basic Info-->
        <div class="bg-secondary rounded-3 p-4 p-md-5 mb-3">
            <h2 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i>Odaberite kategoriju u kojoj će se prikazati vaš oglas</h2>
            <div class="row shadow-sm bg-white rounded-1">
                @{
                    foreach (var entry in categoryPerLevel)
                    {
                        <div class="col-sm g-0">
                            @{ int key = entry.Key; }
                            @foreach (var itemValue in entry.Value)
                            {
                                if (itemValue.Category.HaveSubCategories)
                                {
                                    <div data-category-parent-id="@{if (itemValue.ParentCategory != null) {@itemValue.ParentCategory.Id}}" id="@itemValue.Category.Id" data-category-level="@key"
                                         class="@{if (key > 0){ <text>d-none</text> }} py-1 border-end border-bottom d-flex flex-row justify-content-between align-content-center">
                                        <div>
                                            <a href="#" class="btn btn-sm ms-2">@itemValue.Category.Name</a>
                                        </div>
                                        <div>
                                            <div class="btn btn-sm ms-2">
                                                <i class="fi-chevron-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <script asp-location="Footer">
                                            $('#@itemValue.Category.Id').click(function(){
                                            var category = $('#@itemValue.Category.Id')
                                            category.parent().nextAll().children().addClass("d-none")    
                                            var categoryLevel = category.data("categoryLevel")
                                            $(`div[data-item-children="true"]`).addClass("d-none")
                                            
                                            $('#btn-next-step').addClass("disabled")
                                            //$(`div[data-category-level="${categoryLevel}"]`).addClass("d-none")
                                            
                                            var id = $('#@itemValue.Category.Id').attr('id')
                                            categoryLevel = categoryLevel + 1;
                                            $(`div[data-category-level="${categoryLevel}"][data-category-parent-id="${id}"]`).removeClass("d-none")
                                            })                           
                                    </script>
                                }
                                else
                                {
                                    <div id="@itemValue.Category.Id" data-category-parent-id="@{if (itemValue.ParentCategory != null) {@itemValue.ParentCategory.Id}}" data-category-level="@entry.Key"
                                         class="@{if (key > 0){ <text>d-none</text> }} d-flex flex-row justify-content-between align-content-center py-1 border-bottom border-end">
                                        <div>
                                            <a href="#" class="btn btn-sm ms-2">
                                                @itemValue.Category.Name
                                            </a>
                                        </div>
                                        <div data-item-children="true" class="d-none">
                                            <div class="btn btn-sm ms-2">
                                                <i class="fi-check text-primary"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <script asp-location="Footer">
                                            $('#@itemValue.Category.Id').click(function(){
                                            var category = $('#@itemValue.Category.Id')
                                            $(`div[data-item-children="true"]`).addClass("d-none")
                                            category.parent().nextAll().children().addClass("d-none")  
                                            category.children().next().removeClass("d-none")
                                            
                                            $('#btn-next-step').removeClass("disabled")    
                                    })                           
                                    </script>
                                }
                            }
                        </div>
                    }
                }
            </div>
        </div>
        <!-- Navigation-->
        @{ await Html.RenderPartialAsync("~/Plugins/SaljiDalje.Core/Views/Shared/_Navigation.cshtml", (string.Empty,nameof(MakeNewAdController.PlaceAd))); }

    </div>
</div>